* {
	font-family: "Open Sans";
}

.flex {
	display: flex;
}

.options > .option {
	padding: 5px;
	border: 1px solid black;
}

.option.highlighted {
	background-color: lightblue;
}

.text-entry-container {
	margin: 15px;
	width: 500px;
}

.blink-controller {
	width: 500px;
}