* {
	font-family: "Open Sans";
}

body {
	margin: 0;
	padding: 0;
	color: white;
}

.application-header {
	position: fixed;
	width: 100%;
	-webkit-app-region: drag;
	padding: 5px;
	text-align: center;
	top: 0;
}

.flex {
	display: flex;
}

.application-container > * {
	padding-top: 10px;
}

.blink-controller > .options-container {
	overflow-y: auto;
	flex: 1;
}

.blink-controller .eye-status {
	padding: 5px;
}

.blink-controller > .options-container > .options > .option {
	padding: 15px;
}

.options > .option {
	padding: 5px;
	/*border: 1px solid black;*/
}

.option.highlighted {
	background-color: rgb(87, 1, 255);
}

div.blink-controller.flex {
	flex: 1;
	min-width: 450px;
	background-color: rgb(20, 105, 219);
	color: white;
	height: calc(100vh - 5px);
	flex-direction: column;
}


.current-app-container {
	flex: 2;
	margin: 25px;
}

button {
    outline: none;
    -webkit-appearance: none;
    margin: 5px;
    padding: 5px;
    border: 0;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.controller-title {
	font-size: 24px;
	padding: 5px 15px;
}

.blink-controller .controls-container {
	padding: 5px 15px;
}

.card {
	background-color: white;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.entered-text {
	margin: 15px;
}

